{% assign url_parts = page.url | split: '/' %}
{% assign url_last = url_parts | last  %}
{% assign url_area = url_parts[-2] %}

<header class="site-header">
  <a href="#menu" class="show-menu"><span class="text">Open the menu</span></a>
  <a class="site-title" href="{{ site.baseurl }}/">{{ site.short_title }}</a>
</header>

<nav id="menu" class="site-menu">
  <ul>
    <li>
      <a href="{{ site.baseurl }}/">Home</a>
    </li>

    <li>
      <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/paulonia">Paulonia</a>
      <ul>
        <li {% if url_last == 'paulonia' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/paulonia/">Introducción</a>
        </li>
        <li {% if url_last == 'lifecycle' and url_area == 'paulonia' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/paulonia/lifecycle/">Ciclo de vida</a>
          <ul>
            <li {% if url_last == 'lifecycle' and url_area == 'paulonia' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/paulonia/lifecycle/">Ciclo de vida</a>
            </li>
            <li {% if url_last == 'maintenance' and url_area == 'lifecycle' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/paulonia/lifecycle/maintenance">Mantenimiento</a>
            </li>
            <li {% if url_last == 'frequestions' and url_area == 'lifecycle' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/paulonia/lifecycle/frequestions">Preguntas frecuentes</a>
            </li>
          </ul>
        </li>
        <li {% if url_last == 'personal' and url_area == 'areas' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/paulonia/areas/personal">Áreas</a>
        </li>
        <li {% if url_last == 'processes' and url_area == 'paulonia' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/paulonia/processes/">Procesos</a>
          <ul>
            <li {% if url_last == 'processes' and url_area == 'paulonia' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/paulonia/processes/">Introducción</a>
            </li>
            <li {% if url_last == 'kanban' and url_area == 'processes' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/paulonia/processes/kanban">Kanban</a>
            </li>
            <li {% if url_last == 'vacation' and url_area == 'processes' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/paulonia/processes/vacation">Vacaciones</a>
            </li>
            <li {% if url_last == 'recruitment' and url_area == 'processes' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/paulonia/processes/recruitment">Reclutamiento</a>
            </li>
            <li {% if url_last == 'recruitmentleads' and url_area == 'processes' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/paulonia/processes/recruitmentleads">Reclutamiento (Team leads)</a>
            </li>
            <li {% if url_last == 'payment' and url_area == 'processes' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/paulonia/processes/payment">Pagos</a>
            </li>
            <li {% if url_last == 'financial' and url_area == 'processes' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/paulonia/processes/financial">Finanzas</a>
            </li>
          </ul>
        </li>
        <li {% if url_last == 'security' and url_area == 'paulonia' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/paulonia/security/">Seguridad</a>
          <ul>
            <li {% if url_last == 'security' and url_area == 'paulonia' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/paulonia/security/">Introducción</a>
            </li>
            <li {% if url_last == 'security' and url_area == 'security' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/paulonia/security/security">Seguridad</a>
            </li>
            <li {% if url_last == 'vault' and url_area == 'security' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/paulonia/security/vault">Vault</a>
            </li>
            <li {% if url_last == 'vault_admins' and url_area == 'security' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/paulonia/security/vault_admins">Vault para admins</a>
            </li>
          </ul>
        </li>
        
      </ul>
    </li>

    <li>
      <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/studios">Paulonia Studios</a>
      <ul>
        <li {% if url_last == 'studios' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/studios/">Manual Studio</a>
        </li>
        <li {% if url_last == 'roles' and url_area == 'studios' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/studios/roles">Roles</a>
        </li>
        <li {% if url_last == 'processdesign' and url_area == 'studios' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/studios/processdesign/">Proceso de Diseño</a>
          <ul>
            <li {% if url_last == 'processdesign' and url_area == 'studios' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/studios/processdesign/">Introducción</a>
            </li>
            <li {% if url_last == 'descubrimiento' and url_area == 'processdesign' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/studios/processdesign/descubrimiento">1. Primer contacto</a>
            </li>
            <li {% if url_last == 'benchmark' and url_area == 'processdesign' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/studios/processdesign/benchmark">2. Research</a>
            </li>
            <li {% if url_last == 'media_fidelidad' and url_area == 'processdesign' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/studios/processdesign/media_fidelidad">3. Interfaces de Media Fidelidad - UX</a>
            </li>
            <li {% if url_last == 'alta_fidelidad' and url_area == 'processdesign' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/studios/processdesign/alta_fidelidad">4. Interfaces de Alta fidelidad - UI</a>
            </li>
            <li {% if url_last == 'testing' and url_area == 'processdesign' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/studios/processdesign/testing">5. Testing</a>
            </li>
            <li {% if url_last == 'plus' and url_area == 'processdesign' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/studios/processdesign/plus">6. ASM</a>
            </li>
          </ul>
        </li>
        <li {% if url_last == 'documentos_oficiales' and url_area == 'studios' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/studios/documentos_oficiales">Documentos oficiales</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/development">Paulonia Development</a>
      <ul>
        <li {% if url_last == 'development' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/development/">Introducción</a>
        </li>
        <li {% if url_last == 'roles' and url_area == 'development'  %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/development/roles">Roles</a>
        </li>
        <li {% if url_last == 'herramientas' and url_area == 'development' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/development/herramientas">Herramientas y paquetes</a>
        </li>
        <li {% if url_last == 'newcomers' and url_area == 'development' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/development/newcomers">Recien llegados</a>
        </li>
        
      </ul>
    </li>

    <li>
      <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/backend">Paulonia Cloud</a>
      <ul>
        <li {% if url_last == 'backend' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/backend/">Introducción</a>
        </li>
        <li {% if url_last == 'roles' and url_area == 'backend' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/backend/roles">Roles</a>
        </li>
        <li {% if url_last == 'procesos' and url_area == 'backend' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/backend/procesos">Procesos</a>
          <ul>
            <li {% if url_last == 'procesos' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/backend/procesos">Planificación</a>
            </li>
            <li {% if url_last == 'estructuracion' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/backend/procesos/estructuracion">Estructuración</a>
            </li>
            <li {% if url_last == 'desarrollo' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/backend/procesos/desarrollo">Desarrollo</a>
            </li>
            <li {% if url_last == 'mantenimiento' %}class="Selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/backend/procesos/mantenimiento">Mantenimiento</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li>
      <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/commercial">Paulonia Commercial</a>
      <ul>
        <li {% if url_last == 'commercial' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/commercial/">Introducción</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/contribute">Contribuir al Handbook</a>
      <ul>
        <li {% if url_last == 'contribute' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/contribute/">Contribuir</a>
        </li>
        <li {% if url_last == 'howToDocument' and url_area == 'contribute' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/contribute/howToDocument">Crear un Documento</a>
        </li>
        <li {% if url_last == 'parameters' and url_area == 'contribute' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/contribute/parameters">Parámetros de un documento</a>
        </li>
        <li {% if url_last == 'links' and url_area == 'contribute' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/contribute/links">Links en un documento</a>
        </li>
        <li {% if url_last == 'constants' and url_area == 'contribute' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/contribute/constants">Constantes de sitio</a>
        </li>
        <li {% if url_last == 'example' and url_area == 'contribute' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/{{ site.handbooks_path }}/contribute/example">Documento de ejemplo</a>
        </li>
      </ul>
    </li>

</nav>
